<h1><a>Data Science for Immunologists</a></h1>
<p>
An introduction to machine learning, statistics and programming for beginners.
The book focusses on the practical aspects of data science, providing sufficient theoretical background without delving into all of the details of each of the methods presented.
Introductory chapters are presented alongside the analysis of a publicly available data set, allowing the reader to have practical hands-on experience when learning about important concepts in statistics, machine learning and programming.
</p>