<h1><a>Fine Needle Aspirates Comprehensively Sample Intrahepatic Immunity</a></h1>
<p>
    We demonstrated for the first time that FNAs identify a range of intrahepatic immune cells including locally resident sentinel HBV-specific T cells and NK cells, together with PD-L1-expressing hepatocytes.
    My personal involvement focussed on developing a tool (publicly available ont he web) to estimate the extent to which an individual FNA has reliably sampled intrahepatic populations rather than contaminating blood. The broad profiling achieved by this less invasive, rapid technique makes it suitable for longitudinal monitoring of the liver to optimise new therapies for HBV.
</p>